.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-content {
  padding-top: 50px;
}

.inline {
  display: inline;
}

.margin {
  margin-right: 10px;
}
